{% extends "base.html" %}

{% block content %}
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>О проекте</h2>
							</header>
							<p>
<h1>“Маленький карманный апокалипсис”</h1>
<h1>Современные писатели против Системы </h1>

<p>Мы представляем вам проект, наполненный любовью к литературе и остроумным наблюдениям. Этот веб-сайт представляет собой альманах мыслей и выражений известных современных российских писателей, чьи взгляды на политическую систему предельно ясны, а язык изобретателен, но лаконичен.</p>

<h3>Формат </h3>
<p>Наша цель — создать обширную веб-выставку с цитатами авторов, чьи работы мы считаем наиболее актуальными в наши дни. Они будут сопровождаться изображениями, которые на основе этих цитат создала нейронная сеть ruDALL-E. Мы также предоставляем возможность по желанию изучить биографии этих авторов, указав ссылки на внешние источники. </p>


<h3>Предыстория</h3>

<p>В литературе появилась новая политическая метафора.</p>
<p>Современная литература продолжает играть роль "учебника жизни" и старается отразить проблемы современного общества во время кризиса.</p>
<p>Аналогии, метафоры и сравнения — это мощный способ не только изложить точку зрения автора, но и вдохновить людей на размышления о том, что за события происходят вокруг них, и что лежит в их основе.</p>

<p> <i>Частично мы вдохновлялись…</i> </p>
<p> <i>«Nabokov Clip Art»: нейросеть иллюстрирует Набокова».</i> </p>
<p> <i>Метафоры Набокова часто трудно перевести на другой язык. Неудивительно, что и превращение их в картинки также становится проблемой: как визуально представить то, что может быть воплощено только в словах? В проекте попытались ответить на этот вопрос с помощью нейронных сетей.</i> </p>


<h3>Ожидаемые результаты</h3>
<p> Мы надеемся, что предложенные цитаты найдут отклик у аудитории, а разгадка образов заставит начать мыслить критически. Мы ожидаем получить реакцию, независимо от её окрашенности. В конечном итоге мы стремимся привлечь больше внимания к текущим событиям в России, к тому, что происходит прямо сейчас на наших глазах. Мы хотим выйти за рамки дозволенного, не выходя за рамки закона.</p>

<p>И хотя мы могли бы мечтать о будущем сотрудничестве с культурными институциями, офлайн—выставках, коллаборациях с художниками, дизайнерами и т.д., мы понимаем, что наиболее вероятно столкнёмся с:</p>
           <p> * критикой,</p>
           <p> * цензурой (законы о дискредитации, иноагентах),</p>
           <p> * оскорблением чувств верующих. </p>


<h3>Наш веб-сайт</h3>
<p>В настоящий момент сайт построен на 2 технологиях: </p>
<p>1. HTML</p>
<p>2. CSS</p>

<p>Также мы использовали Python. </p>

<p>Никто из нас не веб-разработчик, ни у кого нет опыта в JS, поэтому было решено полностью отказаться от этой технологии. Тем не менее, веб-сайт (или проект, который мы представляем) кажется достаточно презентабельным для первого опыта в веб-разработке.</p>

<p>В основном мы использовали HTML, стандартный язык разметки для документов, предназначенных для отображения в веб-браузере. Мы изучили синтаксис и, методом проб и ошибок, добились необходимого выравнивания, стилей и порядков заголовков и т.д.</p>

<p>Мы также обратились к CSS, чтобы создать более продуманный стиль для нашей страницы, включая стили, цвета и шрифты. </p>

<p>На данный момент веб-сайт состоит из 3 страниц. Тем не менее, в будущем мы могли бы расширить его, наполнив ещё большим объёмом материалов. Может быть, даже включив больше современных российских авторов, к творчеству которых стоило бы привлечь внимание аудитории. </p>

					</div>
				</div>
			</section>

{% endblock %}
