{% extends "base.html" %}

{% block content %}
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>О проекте</h2>
							</header>
							<p>“Маленький карманный апокалипсис”
Modern writers vs. the System

We present to you our project inspired by love of literature and quick wit. This web-site is an almanac of written thoughts and expressions by renowned modern Russian writers whose views on the political system are clear and whose language is eloquent yet concise. 

In the long run your goal is to create a web-exhibition (by April, 2023, to be precise). We would like to show the audience how writers describe the modern system and encourage people to think, analyze and, eventually, react.

Format 
Our focus is to create an ample Web Exhibition containing quotes by the authors whose works we find the most topical these days and the images neural network ruDALL-E came up with based on those quotes. We would also like to present our visitors with opportunities tofurther explore the biographies of these authors by including links to external sources. 


The background

There is a new political metaphor in literature.
Modern literature continues to serve as a "textbook of life" and tries to find ways that reflect the problems and issues that society faces during crisis.
Analogies, metaphors and similes are a powerful way not only to present the author’s views on any given issue, but also to inspire people’s own analysis and consideration of what’s happening around them and what deeper meaning that may have.

In part the project was inspired by:
«Nabokov Clip Art»: нейросеть иллюстрирует Набокова».
Nabokov's metaphors are often difficult to translate to another language, but turning them into pictures is also a problem: how should something that can only be embodied in words be visually represented? They tried to answer this question using neural networks.


Expected results 
We hope that people could relate to the quotes and the metaphors would resonate with the audience and encourage people to think critically. We expect to gain the audience’s reaction, no matter its connotation. We eventually aspire to draw more attention to current events in Russia, what happens right now before our very eyes. We want to go beyond allowed without going beyond the law. (“выйти за рамки дозволенного, не выходя за рамки закона”).

Still, we realize that although we might dream of future collaboration with cultural institutions, offline exhibition, collaborations with artists and designers, etc. —
		what we would more certainly get is:
            * criticism (from people),
            * censorship (законы о дискредbтации, иноагентах),
            * blasphemy law.


Our web-site
The way it exists now the website is built on 2 technologies:
1. HTML
2. CSS

We built the web-site using Python. 

Neither of us is a web-developer or particularly skilled in JS, therefore it was decided to abandon the technology altogether. Nevertheless, the web-site (or the draft that we present) seem to be decent and persuasive enough for it being our first attempt at web-development. 

We mostly used HTML which is the standard markup language for documents designed to be displayed in a web browser. We studied the syntax and by trial and error achieved the necessary alignment, header styles and orders, etc. 

We also turned to CSS to create more elaborate style for our page, including layout, colours and fonts.

For now the web-site consists of 2 pages. Nevertheless, we could expand it in the future to accommodate more material or even more modern Russian authors to draw the audience’s attention to. 


</p>
					</div>
				</div>
			</section>

{% endblock %}
