<!DOCTYPE HTML>

<html>

	<head>
		<title>"Маленький карманный апокалипсис"</title>
		<script src="https://kit.fontawesome.com/13d2671054.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>


	<body style="width:100%">
		<!-- Banner -->
			<section>
				<div class="banner">
					<div>
						<article>
							<img src="../static/images/slide02.jpg" alt=""/>
							<div class="centered">
								<div class="inner">
									<header class="align-center">
										<h3>У всех нас всегда с собой 
											наш маленький карманный апокалипсис</h3>
										<h3>Метафора как медиум</h3>
									</header>
								</div>
							</div>
						</article>
					</div>
				</div>
			</section>

{% block content %} {% endblock %}


		<!-- Footer -->
		<footer id="footer">
			<div class="container">
			 <ul id="icons">
			  <li><a href="https://t.me/FruitNoodles"><i class="fa-solid fa-paper-plane"></i></a></li>
			  <li><a href="https://rudalle.ru/"><i class="fa-solid fa-image"></i></a></li>
			  <li><a href="https://github.com/kszlobanova/web_dev"><i class="fa-brands fa-github"></i></a></li>
			 </ul>
		 
			</div>

			<div class="page2">
			 <div class="table">
						  <ul id="horizontal-list">
							  <li><a href="about_rus.html">О проекте</a></li>
							  <li><a href="about_eng.html">About</a></li>
							  <li><a href="index.html">Выставка</a></li>
						  </ul>
			 </div> 
			</div>
		</footer>
</body>
</html>