<!DOCTYPE HTML>

<html>

	<head>
		<title>"Маленький карманный апокалипсис"</title>
		<script src="https://kit.fontawesome.com/13d2671054.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>


	<body style="width:100%">
		<!-- Banner -->
			<section>
				<div class="banner full">
					<div>
						<article>
							<img src="../static/images/slide01.jpg" alt=""/>
						</article>
					</div>
			</section>

{% block content %} {% endblock %}


		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="https://t.me/FruitNoodles"><i class="fa-solid fa-paper-plane"></i></a></li>
					<li><a href="https://rudalle.ru/"><i class="fa-solid fa-image"></i></a></li>
					<li><a href="https://github.com/kszlobanova/web_dev"><i class="fa-brands fa-github"></i></a></li>
				</ul>

			</div>
			<div class="page2">
				<ul>
					<li><a href="about_rus.html">О проекте</a></li>
					<li><a href="about_eng.html">About</a></li>
                    <li><a href="index.html">Выставка</a></li>
				</ul>
			</div>
		</footer>
</body>
</html>