<!DOCTYPE HTML>

<html>

	<head>
		<title>"Маленький карманный апокалипсис"</title>
		<script src="https://kit.fontawesome.com/13d2671054.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>


	<body>
		<!-- Banner -->
			<section>
				<div class="banner">
					<img src="../static/images/slide01.jpg" alt=""/>
				</div>
			</section>

		<!-- Second Head -->
		<section id="two" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>метафора — один из сильнейших инструментов обращения к образному мышлению и бессознательному</p>
					<h2>Наши герои</h2>
				</header>
			</div>
		</section>


		<!-- Writers -->
		<section id="one" class="wrapper style2">
			<div class="inner">
				<div class="grid-style">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/sorokin.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<p>писатель, сценарист и драматург, художник</p>
									<h2>Владимир Сорокин</h2>
								</header>
								<p>Сорокин привык описывать реальность такой, какая она есть, 
									его книги созданы для тех, кому уже давно пора снять розовые очки.
									 Один из самых скандальных и талантливых писателей нашего времени.</p>
								<footer class="align-center">
									<a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%80%D0%BE%D0%BA%D0%B8%D0%BD,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8%D0%B5%D0%B2%D0%B8%D1%87" class="button">Об авторе</a>
								</footer>
							</div>
						</div>
					</div>

					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/pelevin-5.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<p>писатель, постмодернист</p>
									<h2>Виктор Пелевин</h2>
								</header>
								<p>Пелевин — символ нашей противоречивой эпохи, совмещающей несовместимое, 
									смешивающей высокое и низкое, сочетающей массовое и элитарное, 
									соединяющей духовность с торговлей. Текст Пелевина — это занимательный словарь 
									современной мифологии.</p>
								<footer class="align-center">
									<a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%BD,_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80_%D0%9E%D0%BB%D0%B5%D0%B3%D0%BE%D0%B2%D0%B8%D1%87" class="button">Об авторе</a>
								</footer>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>



		<!-- Pics -->
		<section id="three" class="wrapper style2">
			<div class="inner">
				<header class="align-center">
					<p class="question">Что если загрузить в нейросеть не обычное
						утверждение, а метафору?</p>
					<h2>Вот, что у нас получилось</h2>
				</header>
				<div class="gallery">
					<div>
						<div class="image fit">
							<img src="../static/images/iphuck.png" alt="" />
						</div>
					</div>
					<div>
						<div class="quote">
							<p>Если Мировой Ум – это океан, то мы – как бы хрупкие бутылки с водой, плавающие в океане.
							В. Пелевин, «iPhuck 10»</p>
						</div>
					</div>
					<div>
						<div class="quote">
							<p>Увы, у всех нас всегда с собой наш маленький карманный апокалипсис.<br>
								В. Сорокин, «Теллурия»
								</p>
						</div>
					</div>
					<div>
						<div class="image fit">
							<img src="../static/images/apoc.png" alt="" />
						</div>
					</div>
					<div>
						<div class="image fit">
							<img src="../static/images/tv.png" alt="" />
						</div>
					</div>
					<div>
						<div class="quote">
							<p>Телевизор – это просто маленькое прозрачное окошко в трубе духовного мусоропровода.<br>
								В. Пелевин, «Чапаев и Пустота»
								</p>
						</div>
					</div>
					<div>
						<div class="quote">
							<p>
							— Что с Россией будет?, – молчит, смотрит внимательно. Жду с трепетом.
								— Будет ничего.<br>
								В. Сорокин, «День опричника»									
								</p>
						</div>
					</div>
					<div>
						<div class="image fit">
							<img src="../static/images/nothing.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>




		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<ul class="icons">
					<li><a href="https://t.me/FruitNoodles"><i class="fa-solid fa-paper-plane"></i></a></li>
					<li><a href="https://rudalle.ru/"><i class="fa-solid fa-image"></i></a></li>
					<li><a href="https://github.com/kszlobanova/web_dev"><i class="fa-brands fa-github"></i></a></li>
				</ul>

			</div>
			<div class="page2">
				<ul>
					<li><a href="about_rus.html">О проекте</a></li>
					<li><a href="about_eng.html">About</a></li>
                    <li><a href="index.html">Выставка</a></li>
				</ul>
			</div>
		</footer>
</body>
</html>